<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <% if (user) { %>
    <div class="line anim"></div>
    <h2>こんにちは <%= user.name %>さん</h2>
    <p><a href="/mypage/list">リスト</a></p>
    <form action="/users/logout" method="post">
      <input type="submit" value="LOGOUT">
    </form>
    <hr>
  <% } else { %>
    <div>
      <p>ログインは<a href="/users/login">こちら</a>から</p>
    </div>
  <% } %>
</body>
</html>