<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録</title>
</head>
<body>
    <div>
        <p>アカウント登録完了しました</p>
    </div>
    <div>
        <p>ログインは<a href="/users/login">こちら</a>から</p>
    </div>
</body>
</html>